
    <h1>Resim Ekle</h1>

    {{ include('admin/image/_form.html.twig') }}

    {% for image in imagelist %}
        <img src="{{ asset('uploads') }}/images/{{ image.image }}" height="200">
        <a href="{{ path('admin_image_sil',{'id':image.id,'pid':image.productid}) }}" onclick="return confirm('Silelim mi?');" class="btn btn-danger">SİL</a>
    {% endfor %}