{% extends 'adminbase.html.twig' %}
{% block title %}Kategory Düzenleme{% endblock %}
{% block content %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Ayarları Düzenleme </h3>

            <div class="row mt">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div class="content-panel">
                            {{ include('admin/setting/_form.html.twig', {'button_label': 'Update'}) }}

                            <a href="{{ path('admin_setting_index') }}">Geri</a>

                            {{ include('admin/setting/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
